---
layout: page
title: Cennik
permalink: /cennik/
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">CENNIK</h1>
          <p class="animated fadeInUp"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="post-area">
            <h2>Wesele</h2>
          </div>

							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Przygotowania do ślubu</p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Ceremonia ślubu </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Przyjęcie weselne do końca oczepin lub tortu </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Otrzymujecie 100 starannie wyselekcjonowanych i obrobionych zdjęć </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Fotoksiążka </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Dojazd na terenie woj. Mazowieckiego bez dodatkowych opłat </p>
							<p><span style="font-size:22px; color:#cbb877"> &#187 </span><b>Koszt: 2000zł</b></p>
        </div>
	  </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="post-area">
            <h2>Zwierzęta</h2>
          </div>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Oferta dla zwierzątek, które chcą sobie zrobić sesję zdjęciową :) </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Liczba zdjęć jest ustalana indywidualnie </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Czas trwania: ok. 1h </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Możliwość stworzenia fotoksiążki </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Dojazd na terenie woj. Mazowieckiego bez dodatkowych opłat </p>
							<p><span style="font-size:22px; color:#cbb877"> &#187 </span><b>Koszt: ustalany na podstawię liczby zdjęć oraz stopnia skomplikowania ich wykonania</b></p>
        </div>
	  </div>
    </div>							
	
	
							




    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="post-area">
            <h2>Firmowe</h2>
          </div>


							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Oferta dla osób, które chcą uwiecznić swój wizerunek podczas pracy w swoim zawodzie </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Liczba zdjęć jest ustalana indywidualnie </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Czas trwania: ok. 1h </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Możliwość stworzenia fotoksiążki </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Dojazd na terenie woj. Mazowieckiego bez dodatkowych opłat </p>
							<p><span style="font-size:22px; color:#cbb877"> &#187 </span><b>Koszt: ustalany na podstawię liczby zdjęć oraz stopnia skomplikowania ich wykonania</b></p>
        </div>
	  </div>
    </div>							




    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="post-area">
            <h2>Rodzinne</h2>
          </div>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Fotoksiążka </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Ok. 20 zdjęć </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Zdjęcia wykorzystane do fotoksiążki zostaną przesłane również w formie cyfrowej </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Czas trwania: ok. 1h</p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Dojazd na terenie woj. Mazowieckiego bez dodatkowych opłat </p>
							<p><span style="font-size:22px; color:#cbb877"> &#187 </span><b>Koszt: 300zł</b></p>
        </div>
	  </div>
    </div>							




    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="post-area">
            <h2>Komunia</h2>
          </div>

							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Reportaż w kościele</p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Pamiątkowe zdjęcia po Mszy Św.</p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Otrzymujecie 50 starannie wyselekcjonowanych i obrobionych zdjęć </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Dojazd na terenie woj. Mazowieckiego bez dodatkowych opłat </p>
							<p><span style="font-size:22px; color:#cbb877"> &#187 </span><b>Koszt: 500zł</b></p>
        </div>
	  </div>
    </div>			



    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="post-area">
            <h2>Chrzciny</h2>
          </div>

							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Ceremonia Chrztu Świętego</p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Przyjęcie: 1h</p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Otrzymujecie 50 starannie wyselekcjonowanych i obrobionych zdjęć </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Dojazd na terenie woj. Mazowieckiego bez dodatkowych opłat </p>
							<p><span style="font-size:22px; color:#cbb877"> &#187 </span><b>Koszt: 500zł</b></p>
        </div>
	  </div>
    </div>	


    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="post-area">
            <h2>Plener</h2>
          </div>

							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Dowolna ilość zmiany stroju </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Czas: ok. 1,5h </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Otrzymujecie 30 starannie wyselekcjonowanych i obrobionych zdjęć </p>
							<p><span style="font-size:20px; color:#cbb877"> &#x2714 </span> Dojazd na terenie woj. Mazowieckiego bez dodatkowych opłat </p>
							<p><span style="font-size:22px; color:#cbb877"> &#187 </span><b>Koszt: 300zł</b></p>
        </div>
	  </div>
    </div>	


	
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Nasze usługi</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Fotografia ślubna</h4>
          <p>Zdjęcia ślubne, weselne, sesje narzeczeńskie</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Fotografia eventowa</h4>
          <p>Fotorealacje i filmy z wydarzeń</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Sesje zdjęciowe</h4>
          <p>Profesjonalne sesje zdjęciowe w plenerze</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Optymalizacja procesów biznesowych</h4>
          <p>Doradztwo w zakresie optymalizacji procesów biznesowych</p>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
<!--
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!--<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->
